.Main {
  font-family: "Sofia Sans", sans-serif;
  text-align: center;
  background: #030826;
  color: white;
  min-height: 100vh;
  padding-top: 111px;
  padding-bottom: 74px;
  overflow: clip;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
}

.advantages_container {
  padding: 0 102px;
}

.reviews_container {
  margin-top: 280px;
  padding: 0 126px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages_title {
  text-align: left;
}

/* padding: 0 356px; */
.reviews_title {
  text-align: center;
}

.reviews_title_container {
  padding: 0 clamp(0rem, -4.1071rem + 20.5357vw, 14.375rem);
}

.advantages_title_container {
  padding: 0 clamp(0rem, -4.6786rem + 23.3929vw, 16.375rem);
}

.title h1 {
  letter-spacing: 0.02em;
  font-weight: 700;
  letter-spacing: 2%;
  line-height: var(--line-height-xl);
  font-size: var(--text-size-xl);
}

.advantages_title p {
  text-align: center;
}

.reviews_title p {
  text-align: justify;
}

.title p {
  letter-spacing: 0.02em;
  color: #ffffffe5;
  font-size: var(--text-size-sm);
  line-height: var(--line-height-sm);
}

.reviews {
  width: 100%;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  grid-template-rows: masonry;
}

.review_card {
  padding: 24px 30px;
  display: flex;
  flex-direction: column;
  outline: 2px solid #3e85f680;
  border-radius: 10px;
  flex: 1 1 0%;
}

.review_card_desc {
  color: #ffffff99;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  padding-top: 16px;
  font-size: var(--text-size-sm);
  line-height: var(--line-height-sm);
}

.review_column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review_username {
  color: #ffffff99;
  padding-top: 10px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: var(--text-size-sm);
  line-height: var(--line-height-sm);
}

.review_star_container {
  display: flex;
  gap: 4px;
}

.advantages {
  width: 100%;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}

.advantage_card {
  grid-column: span 1 / span 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: 2px solid #3e85f680;
  border-radius: 16px;
}

.advantage_card_title {
  display: flex;
  place-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: var(--text-size-lg);
  line-height: var(--line-height-lg);

  text-align: left;
}

.advantage_card_desc {
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff99;
  font-size: var(--text-size-xs);
  line-height: var(--line-height-xs);
}

.ellipse_1 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.ellipse_2 {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.ellipse_3,
.ellipse_4,
.ellipse_5 {
  display: none;
}

@media (max-width: 1024px) {
  .title h1 {
    text-align: center;
  }

  .reviews {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .advantages {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .advantages_container,
  .reviews_container {
    padding: 0 18px;
  }
}

@media (max-width: 640px) {
  .reviews {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .advantages {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .ellipse_1 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  .ellipse_2 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  .ellipse_3 {
    display: block;
    position: absolute;
    left: 0;
    top: 170px;
  }

  .ellipse_4 {
    display: block;
    position: absolute;
    right: 0;
    top: 875px;
  }
}

@media (max-width: 320px) {
  .ellipse_5 {
    display: block;
    position: absolute;
    left: 0;
    top: 807px;
  }
}
